html {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  text-wrap-style: pretty;
}

p {
  hyphens: auto;
  word-break: break-word;
}

img {
  max-width: 100%;
}

@view-transition {
  navigation: auto;
}
